* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  margin: 0;
}

header {
  padding: 0 6%;
  color: #000;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #00aff2;
}
.b {
  font-weight: 700;
  font-size: xx-large;
}
.video {
  width: 100%;
  height: 400px;
}
.pt-20{
padding-top: 20px;
}

.header-top-bar-desktop {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

header nav a {
  padding: 6px 12px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-size: 1.2em;
}

header nav a:visited {
  color: #000000;
}

header nav a:focus {
  background: #cccccc;
}

header nav a:hover {
  color: #000000;
}

header nav a:active {
  background: #cccccc;
  color: #000;
}

#lang {
  height: 20px;
  width: 100%;
  background-color: #e6e6e6;
  font-size: x-small;
}

div.lang {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0 2%;
}
div.lang div.idioma {
  padding: 2px 5px 0px 5px;
  flex-wrap: nowrap;
  color: #000;
  cursor: pointer;
}

div.idioma a:hover {
  color: #0298d3;
}

a.donar {
  background-color: #00aff2;
  padding: 3px 14px;
  border: none;
  border-radius: 7px;
  color: #fff;
}

a:hover.donar {
  background-color: #0099d1;
  padding: 5px 14px;
  border: none;
  border-radius: 7px;
  color: #fff;
}

main {
  min-height: 65vh;
}
section#home {
  min-height: 65vh;
  margin-bottom: 20px;
}
section#nosotros{
  font-size: 0.8em;
}
#slide-home {
  background-image: url(../img/home-missao-mangundze.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

main > section {
  padding: 25px 2% 0;
}

#top {
  background-color: #a8e5fc;
  display: flex;
  border-top: 4px solid #00aff2;
}

#banner {
  background-color: #00aff2;
  border-bottom: 12px solid #fff;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#banner #banner-cc {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  align-items: center;
  width: 45%;
  margin-right: 3%;
}

#banner div.img-donar {
  background-image: url(../img/donar-missao-mangundze.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 50%;
  height: 100%;
  margin-right: 3%;
}
footer {
  min-height: 10vh;
  background-color: #0188bb;
  color: white;
  margin: 0;
  padding: 25px 2% 0;
}
#div-footer {
  margin: auto;
  max-width: 1200px;
  padding-top: 15px;
}
#div-footer a {
  color: #fff;
}

#menu-bottom {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.8em;
  color: #ccc;
}

.redes {
  display: flex;
}
.redes img {
  padding: 0px 5px;
}

.flex {
  display: flex;
}
.block {
  display: block;
  width: 100%;
}

.txt-logo {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 25px;
}
.tx-logo {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 0.5em;
  word-spacing: 1px;
  color: #383838;
}
.header-logo {
  flex: 8 1 auto;
  margin: auto;
  display: block;
  text-align: center;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 15px 0px;
}
.destacado,
.destacado2 {
  font-family: 'Roboto Flex', sans-serif;
  color: #333;
  margin-bottom: 25px;
}
.tx-slide {
  font-family: 'Roboto Flex', sans-serif;
}

.pl-20 {
  padding-left: 20px;
}

.pl-40 {
  padding-left: 40px;
}

form .campo {
  display: flex;
  flex-direction: column;
  position: relative;
}

form .campo input {
  height: 28px;
  background-color: #eeeeee;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  padding: 10px;
}

input[type='text']:focus {
  background-color: #94d1cc;
  outline: none;
}

input[type='email']:focus {
  background-color: #94d1cc;
  outline: none;
}
.div-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
button {
  background-color: #00aff2;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
hr {
  border: 0.2px solid #9fcfd3;
}
#top-slide {
  font-family: 'Roboto Flex', sans-serif;
  display: flex;
  padding: 25px;
}

#slide {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.divloader {
  display: flex;
  justify-content: center;
}

/* menu burguer */
.header-top-bar {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 0 5px;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
}

#burguer {
  width: 100%;
  justify-content: space-between;
}

#menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #000000;
  line-height: 3;
  font-size: 14px;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #02639b;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*  into a crossmark */

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.1, 0.1);
}

/* Ohyeah and the last one should go the other direction */

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 230px;
  margin: 0 0 0 -70px;
  padding: 50px;
  height: 100vh;
  padding-top: 25px;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 12px;
  text-align: left;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
.black {
  color: #000;
}
section#sobre {
  display: flex;
  font-size: 18px;
}
.col40 {
  flex: 1 1 50%;
  padding-top: 30px;
  border-right: 1px solid #a1a1a1;
}

.premios {
  padding-top: 20px;
}
.premios li {
  list-style: none;
  line-height: 28px;
  font-size: 16px;
}
.blue-light {
  color: #00aff2;
}
.blue {
  color: #22577e;
}
.yellow {
  color: #fcdb3b;
}
.link{
  font-size: 0.8em;
}
a.link {
  color: #00aff2;
}
.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

/* end burguer*/

/* card */

h2 {
  color: #0188bb;
}

ul#card {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}
ul#card .booking-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #00909e;
  transition: 0.3s;
}
ul#card .booking-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}
ul#card .booking-card .book-container {
  height: 250px;
}
ul#card .booking-card .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
ul#card .booking-card .book-container .content .btn {
  padding: 10px 15px;
  background: none;
  font-size: 1.3em;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
ul#card .booking-card .book-container .content .btn:hover {
  background: white;
  color: #0a4870;
}
ul#card .booking-card .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(106px);
  transition: 0.3s;
}
ul#card .booking-card .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1em;
}

ul#card .booking-card .informations-container .sub-title {
  color: #333;
  font-size: 0.8em;
}
ul#card .booking-card .informations-container .title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: #0a4870;
}
ul#card .booking-card .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}
ul#card
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container {
  display: flex;
}
ul#card
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container
  .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}

ul#card .booking-card .informations-container .more-information .disclaimer {
  font-size: 0.8em;
  color: #333;
  margin: 20px 0px;
}
ul#card .booking-card:hover::before {
  background: rgba(18, 146, 179, 0.6);
}
ul#card .booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}
ul#card .booking-card:hover .informations-container {
  transform: translateY(0px);
}
ul#card .booking-card:hover .informations-container .more-information {
  opacity: 1;
}

@media (max-width: 768px) {
  ul#card .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
  }
  ul#card .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  ul#card .booking-card .informations-container {
    transform: translateY(0px);
  }
  ul#card .booking-card .informations-container .more-information {
    opacity: 1;
  }
}

/* end card */

/* Estilos Responsive */
@media screen and (min-width: 0px) {
  .header-top-bar {
    display: flex;
  }
  .header-top-bar-desktop {
    display: none;
  }
  .img-banner {
    width: 60vw;
  }
  .destacado {
    font-size: 0.8em;
    line-height: 25px;
  }
  .destacadoNota {
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
  h1,
  #banner-cc {
    font-size: 0.8em;
  }
  #banner {
    height: 35vh;
    background-position: 50% auto;
  }
  #slide-home {
    margin-top: 0px;
    background-size: contain;
    background-position: 100% auto;
    height: 60vw;
  }
  #slide {
    padding-top: 90px;
    height: 50vw;
    padding: 25px 2% 0;
  }
  .tit-slide {
    font-size: 1.5em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
  .tx-slide {
    font-size: 0.8em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
  #cont {
    flex-direction: column;
    padding: 0 15px;
  }
  ul#card .booking-card {
    justify-content: center;
    width: 90%;
    flex: 0 0 95%;
  }
  .destacadoNota {
    font-size: 0.7em;
    line-height: 10px;
    font-weight: 400;
  }
  .proyecto-top {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
  }

  .proyecto-top .right{
   padding: 0px 35px;
   }
  .img-nos {
    margin-right: 10px;
    height: 35vh;
  }
  .img-nos2 {
   width: 100%;
  }
  a.link {
font-size: 0.6em;
  }
}

/* MD -- Laptops */
@media (min-width: 768px) {
  .header-top-bar {
    display: none;
  }
  .header-top-bar-desktop {
    display: flex;
    align-items: center;
  }
  header nav a {
    font-size: 1em;
  }
  #slide-home,
  #slide {
    background-size: contain;
  }
  .destacado {
    font-size: 1.2em;
    line-height: 38px;
  }
  .destacado2 {
    font-size: 1.2em;
    line-height: 34px;
  }
  .tit-slide {
    font-size: 3em;
    font-weight: 600;
  }
  .tx-slide {
    font-size: 1em;
    line-height: 25px;
  }
  h1,
  #banner-cc {
    font-size: 1em;
  }
  #cont {
    flex-direction: row;
  }
  ul#card .booking-card {
    justify-content: center;
    width: 30%;
    flex: 0 0 30%;
  }
  .destacadoNota {
    font-size: 0.9em;
    line-height: 18px;
    font-weight: 400;
  }
  .proyecto-top {
    flex-direction: row;
    font-size: 0.8em;
  }
  .proyecto-top .left{
   flex: 1 1 35%;
   padding-right: 15px;
  }
  .proyecto-top .left2{
    flex: 1 1 70%;
    padding-right: 15px;
   }
 

  .img-nos {
    height: 30vh;
  }
  .img-nos2 {
    width: auto;
    height: 30vh;
  }
  a.link {
    font-size: 0.8em;
}
}

/* LG -- Computadoras */

@media (min-width: 1200px) {
  .header-top-bar {
    display: none;
  }
  .header-top-bar-desktop {
    display: flex;
    padding: 0px 2% 0;
  }
  .header-top-bar-desktop,
  main > section,
  #nosotros, #donar,
  #slide,
  #top-slide,
  div.lang {
    margin: auto;
    max-width: 1200px;
  }
  header nav a {
    font-size: 1.2em;
  }
  .img-banner {
    width: 100%;
  }
  .destacado {
    font-size: 1.5em;
    line-height: 38px;
  }
  h1,
  #banner-cc {
    font-size: 1.2em;
  }
  #banner {
    height: 25vh;
  }
  #banner #banner-cc {
    width: 45%;
    margin-right: 3%;
  }
  #slide-home {
    margin-top: 0px;
    background-size: contain;
    background-position: 100% auto;
    height: 60vw;
  }
  #slide {
    height: 40vw;
  }
  .tit-slide {
    font-size: 3em;
    font-weight: 700;
  }
  .tx-slide {
    font-size: 1.6em;
    line-height: 35px;
  }
  .destacadoNota {
    font-size: 1em;
    line-height: 22px;
    font-weight: 500;
  }
  .proyecto-top {
   flex-direction: row;
    font-size: 1em;
  }

  .img-nos {
    height: 35vh;
  }
  #nosotros, #donar{
    padding: 0px 2%;
  }
}
