<div id="top">
	<div id="donar" class="proyecto-top animate__animated animate__fadeInUp animate__delay-0s">
		<div class="left2 pt-20"><iframe class="video" src="https://www.youtube.com/embed/gxAnfbEurng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
		<div class="right pt-20"> 
			Gracias por colaborar. Apreciamos las donaciones de cualquier valor, y todas las donaciones son utilizadas para beneficio de la comunidad de Mangundze
			Si quiere colaborar con el trabajo de la Misión Mangundze, puede utilizar los siguientes canales: <br><br>
			Desde Mozambique<br>
Conta no banco BCI<br>
<br>
Asociaçao Nyikani Mavoko<br>
NIB: 0008 0000 48461508101 95<br><br>

Desde Argentina<br>
Los argentinos pueden colaborar con la Misión mediante transferencia bancaria, via CBU:<br>

Banco de Galicia, <br>Juan Gabriel Arias, <br>CUIL 20-20205589-4, <br>Caja de Ahorro 4011775-7 128-1, <br>CBU 00701286-30004011775712.<br><br>
Resto del mundo<br>
En breve estaremos sumando nuevas opciones para colaborar.<br>
		</div>
	</div>
  </div>
		<section id="nosotros">
			<div class="pl-20 animate__animated animate__fadeInUp animate__delay-0s">
			  
			  
			  
			</div>
		  
		  </section>