<div id="slide-home" class="animate__animated animate__fadeIn">
	<div id="slide" class="animate__animated animate__fadeInLeft">
	<div class="tit-slide">Conocé la Misión Mangundze</div>
	<div class="tx-slide ">Juntos por la misma Causa</div>
</div>
</div>
<section id="home" class="animate__animated animate__fadeInUp animate__delay-0s">
	<p class="destacado">Trabajamos para contribuir, promover y fomentar la mejora de la situación sanitaria y general de
		personas y comunidades vulnerables, mediante la promoción
		de la higiene y la salud. Así como la facilitación del acceso a la atención médica y el apoyo a la educación e integración socio-laboral.</p>
			<ul id="card">
				<li class="booking-card" style="background-image: url(/public/img/news/larcio-langane-infobae.jpg)">
				  <div class="book-container">
					<div class="content">
					<nav><a href="/proyecto-larcio-langane" class="btn">Mas Info</a></nav>
					</div>
				  </div>
				  <div class="informations-container">
					<h2 class="title">Estudió en Argentina, ganó el premio al mejor emprendedor de su país</h2>
					<p class="sub-title">Por una gestión del cura Juan Gabriel Arias.</p>

					<div class="more-information">
					  <div class="info-and-date-container">
					  </div>
					  <p class="disclaimer">En la nación africana creó una empresa que recicla botellas de vidrio y las convierte en vasos y obtuvo un galardón de U$S 7.000.</p>
					  </div>
				  </div>
				</li>
				<li class="booking-card" style="background-image: url(/public/img/news/juan-gabriel-arias.jpg)">
					<div class="book-container">
					  <div class="content">
						<nav><a href="/proyecto-juan-gabriel-arias" class="btn">Mas Info</a></nav>
					  </div>
					</div>
					<div class="informations-container">
					  <h2 class="title">Juan Gabriel Arias, Sacerdote de la Misión San Benito de Mangundze</h2>
					  <p class="sub-title">“Es mi lugar en el mundo”, asegura</p>
  
					  <div class="more-information">
						<div class="info-and-date-container">
						</div>
						<p class="disclaimer">También conocido como “el cura hincha de Racing”, llegó al país africano en el año 2000 como parte de una misión católica.</p>
						</div>
					</div>
				  </li>
				  <li class="booking-card" style="background-image: url(/public/img/news/scholas-ocurrentes.jpg)">
					<div class="book-container">
					  <div class="content">
						<nav><a href="/proyecto-ciudadania" class="btn">Mas Info</a></nav>
					  </div>
					</div>
					<div class="informations-container">
					  <h2 class="title">Scholas Ocurrentes, proyecto ciudadanía</h2>
					  <p class="sub-title">Un llamado a crear la cultura del encuentro</p>
					  <div class="more-information">
						<div class="info-and-date-container">
						</div>
						<p class="disclaimer">El proyecto ciudadanía busca que los jóvenes se pregunten que quieren hacer con su comunidad, cuales son los valores que quieren defender, y que prioridades van a dar a la salud, la educación.</p>
						</div>
					</div>
				  </li>
			  </ul>
		
</section>
<div id="banner"><div class="img-donar">.</div><div id="banner-cc"><span class="b">Dona!</span>  <br>
	Gracias por colaborar. <br> Apreciamos las donaciones de cualquier valor, y todas las donaciones son utilizadas para beneficio de la comunidad de Mangundze.</div>
</div>