<div id="top">
</div>
<section id="sectionProyectos">
  <div class="pl-20 animate__animated animate__fadeInUp animate__delay-0s">
    <span class="destacado blue-light">Proyectos</span>
    <ul id="card">
      <li class="booking-card" style="background-image: url(/public/img/news/larcio-langane-infobae.jpg)">
        <div class="book-container">
        <div class="content">
          <nav>
            <a href="/proyecto-larcio-langane" class="btn">Mas Info</a>
          </nav>
        </div>
        </div>
        <div class="informations-container">
        <h2 class="title">Estudió en Argentina, ganó el premio al mejor emprendedor de su país</h2>
        <p class="sub-title">Por una gestión del cura Juan Gabriel Arias.</p>
        <div class="more-information">
          <div class="info-and-date-container">
          </div>
          <p class="disclaimer">En la nación africana creó una empresa que recicla botellas de vidrio y las convierte en vasos y obtuvo un galardón de U$S 7.000.</p>
          </div>
        </div>
      </li>

      <li class="booking-card" style="background-image: url(/public/img/news/juan-gabriel-arias.jpg)">
        <div class="book-container">
          <div class="content">
            <nav>
              <a href="/proyecto-juan-gabriel-arias" class="btn">Mas Info</a>
            </nav>
          </div>
        </div>
        <div class="informations-container">
          <h2 class="title">Juan Gabriel Arias, Sacerdote de la Misión San Benito de Mangundze</h2>
          <p class="sub-title">“Es mi lugar en el mundo”, asegura</p>
          <div class="more-information">
          <div class="info-and-date-container">
          </div>
          <p class="disclaimer">También conocido como “el cura hincha de Racing”, llegó al país africano en el año 2000 como parte de una misión católica.</p>
          </div>
        </div>
        </li>

        <li class="booking-card" style="background-image: url(/public/img/news/scholas-ocurrentes.jpg)">
        <div class="book-container">
          <div class="content">
            <nav>
              <a href="/proyecto-ciudadania" class="btn">Mas Info</a>
            </nav>
          </div>
        </div>
        <div class="informations-container">
          <h2 class="title">Scholas Ocurrentes, proyecto ciudadanía</h2>
          <p class="sub-title">Un llamado a crear la cultura del encuentro</p>
          <div class="more-information">
          <div class="info-and-date-container">
          </div>
          <p class="disclaimer">El proyecto ciudadanía busca que los jóvenes se pregunten que quieren hacer con su comunidad, cuales son los valores que quieren defender, y que prioridades van a dar a la salud, la educación.</p>
          </div>
        </div>
        </li>
      </ul>
  </div>

</section>
