<div id="top">
	<div class="lang">
		<nav>
		<a ref="#" onclick="history.back()" ><< volver</a>
	  </nav></div>
	
</div>
<section id="proyecto1" class="animate__animated animate__fadeIn">
	<h1 class="blue-light">Biografía de Juan Gabriel Arias, cura párroco de San Benito de Mangundze.</h1>
	<div class="proyecto-top">
		<div class="lef"><img src="../public/img/news/juan-gabriel-arias-papa-francisco.jpg" alt="Juan Gabriel Arias y Papa Francisco" class="img-nos"> </div>
		<div class="right">Es argentino. Nació el 27 de febrero de 1968. Es Sacerdote de la Arquidiócesis de Buenos Aires. Sus primeros 6 años de cura estuvo en la Parroquia Inmaculada Concepción de Belgrano en Buenos Aires. <br><br> En el año 2000 tuvo su primera experiencia pastoral en Mozambique, en la Diócesis de Xai-Xai. Al volver fue párroco de Natividad de María, ubicada en el barrio de Barracas, durante 9 años. Fue miembro de la Comisión Directiva de Racing por 4 años y medio. Realizó muchos viajes misiones a Mozambique, pero fue a partir del 2015 que se radicó definitivamente en el país africano.</div>
	</div>
	<br><br>
	<span class="blue-light">En los medios</span>
	<div>
		<iframe class="video"src="https://www.youtube.com/embed/_pxXEeNArJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br><br>
	<span class="blue-light">Las misas en la misión</span>
	<div>
		<iframe class="video" src="https://www.youtube.com/embed/IxK4QZBeDZA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br><br>
	<span class="blue-light">Notas</span>
	<div class="proyecto-top">
		<div class="lef"><img src="../public/img/news/infobae-3-febrero-2020.jpg" alt="Larcio Langane" class="img-nos"> </div>
		<br><br>
		<div class="right">El cura argentino que misiona en Mozambique y la conmovedora historia de una joven que solo soñaba estudiar<br><br>
			El Padre Juan Gabriel Arias vive en África desde hace 6 años. La semana pasada despidió en el aeropuerto a Rafita, hija de su empleada doméstica, quien voló hacia Buenos Aires. Con ayuda del Papa Francisco, y gracias a un programa de intercambios universitarios del que ya participaron otros 4 jóvenes, ella cursará una licenciatura en la UCA. “Si yo no les doy esta oportunidad no se las da nadie”, asegura el sacerdote
			<br><br>
			Los 9486 kilómetros que separan Argentina de Mozambique no son un impedimento para recibir noticias del Padre Juan Gabriel Arias (51). También conocido como “el cura hincha de Racing” (lleva tatuada en su brazo derecho una imagen de Jesús junto al escudo de la Academia), el sacerdote llegó al país africano en el año 2000 como parte de una misión católica.</div>
	        <br><br>
		</div>
	<br><br>
 <span class="link">Ver nota Completa: Infobae 3 de febrero 2020</span><br><nav><a href="https://www.infobae.com/sociedad/2020/02/03/el-cura-argentino-que-misiona-en-mozambique-y-la-conmovedora-historia-una-joven-que-solo-sonaba-estudiar/" onclick=window.open(href); class="link">https://www.infobae.com/sociedad/2020/02/03/el-cura-argentino-que-misiona-en-mozambique-y-la-conmovedora-historia-una-joven-que-solo-sonaba-estudiar/</a></nav>
	<br><br>
</section>

