<div id="top">
	<div class="lang">
		<nav>
		<a ref="#" onclick="history.back()" ><< volver</a>
	  </nav></div>
	
</div>
<section id="proyecto1" class="animate__animated animate__fadeIn">
	<h1 class="blue-light">Es de Mozambique, estudió en Argentina apadrinado por Julián Weich y ganó el premio al mejor emprendedor de su país</h1>
	<span class="destacadoNota">Larcio Langane estudió en la Universidad Católica Argentina por una gestión del cura Juan Gabriel Arias, que misiona en Mozambique. En la nación africana creó una empresa que recicla botellas de vidrio y las convierte en vasos y obtuvo un galardón de U$S 7.000. De Argentina se llevó un gran recuerdo y un amor, una chica paraguaya que vivía con la familia política del conductor televisivo</span>
	<br><br>
	<div>
		<iframe class="video" src="https://www.youtube.com/embed/hLVcca1Wsek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	
	<br><br>
</section>

